/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #b8c2dc;
}

.active-section {
  display: block;
}

.inactive-section {
  display: none;
}
::selection {
  color: #fff;
  background: #6990F2;
}
.sidenav {
  border: none; /* Remove the border */
}
.bottom-section {
  margin-left: 40px; /* Add left spacing */
}

.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}



.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}

form :where(i, p) {
  color: #6990F2;
}

form i {
  font-size: 50px;
}

form p {
  margin-top: 15px;
  font-size: 16px;
}

.colorful {
  margin-top: 20px; /* Increased margin to add more space */
  text-align: center; /* Center justify */
}

.colorful label {
  color: #6990F2;
  margin-bottom: 10px; /* Added spacing */
 
}

.colorful input {
  border: 3px solid #6990F2;
  border-radius: 20px; /* Rounded corners */
  padding: 10px; /* Increased padding for length */
  width: 80%; /* Adjusted width */
  margin-bottom: 20px; /* Increased spacing */
}

.colorful button {
  background-color: #E9E9E9; /* Ash color */
  color: #030637; /* Blue color */
  border: 2px solid #E9E9E9; /* Ash color */
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}
.btnsub{
  position:relative;
  background-color: #E9E9E9; /* Ash color */
  color: #030637; /* Blue color */
  border: 2px solid #E9E9E9; /* Ash color */
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}
.colorful.btnsub:hover{
  background-color: #030637; /* Blue color on hover */
  color: #E9E9E9; /* Ash color on hover */  
}

.colorful button:hover {
  background-color: #030637; /* Blue color on hover */
  color: #E9E9E9; /* Ash color on hover */
}

.colorful #result {
  color: #6990F2;
}

section .row {
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .row i {
  color: #6990F2;
  font-size: 30px;
}

section .details span {
  font-size: 14px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}

.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i.fa-check {
  font-size: 16px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b8c2dc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}


.iframe{
  margin-left: 20px;
  width:70%; 
  height:90vh; 
  border: none;
  position: absolute;
  top: 30px;
}


/* for checking  */
.image-container {
  width: 20%; /* Adjust this as needed */
  height: 82.5%; /* Full height of the sidebar */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  position: absolute; /* Position relative to parent */
  top: 80px;
  right: 20px;
  padding: 10px;
  background-color: #95a8ac;
  border: 2px solid rgb(178, 219, 219);
}

.image-container img {
  display: block;
  margin-bottom: 10px;
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto;
}

#image-container {
  position:absolute;
  top: 70px;
  left: 200px;
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(42, 43, 43);
  border-radius: 10px;

}
img {
  max-width: 650px;
  max-height: 650px;
  padding: 10px 10px 0px;
}
.button-container {
  margin-top: 10px;
  margin-bottom: 20px;
}
.button {
  padding: 10px 20px;
  background-color:rgb(106, 198, 201);
  color: white;
  border: solid 1px black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.buttons .button {
  margin: 10px; /* Add spacing between buttons */
}
.button:hover {
  background-color: rgb(62, 140, 140);
}

.checkimage {

  max-height: 300px; /* Limit height of the image container */
  margin-right: 60px; /* Add margin to the right of the image container */
  overflow-x: hidden;
}
.checkimage{
  display: block;
  margin: 14px auto; /* Genuine spacing between images */
  max-width: 150px; /* Limit width of images */
}